<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content. The next code sets up the button using btn (style btn-navbar) and each of the "icon-bar" lines create lines on the button itself. -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- leaving the brand out here so it's shown all the time even when the page goes small-->
     
      <%= link_to "VCDrive", root_path, class: "brand" %>
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
      	<ul class="nav">
    	  	<li><%= link_to "Home", root_path %></li>
  	      <li><%= link_to "About Us", about_path %></li>
          <li><%= link_to "Courses", courses_path %></li>
    	  </ul>
    	  <ul class="nav pull-right">
          <!-- Could add in a search bar -->
          <% if user_signed_in? %>
            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <!-- Could add in an inline login field so users can login from any page (in header) -->
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
    		  
    	  </ul>
      </div>
 
    </div>
  </div>
</div>